[submodule "src/bonnetal"]
	path = src/bonnetal
	url = https://github.com/PRBonn/bonnetal.git
[submodule "src/StarMap"]
	path = src/StarMap
	url = https://github.com/wecacuee/StarMap.git
[submodule "src/vision_opencv"]
	path = src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
[submodule "src/open_vins"]
	path = src/open_vins
	url = git@github.com:rpng/open_vins.git
[submodule "src/starmap"]
	path = src/starmap
	url = https://github.com/wecacuee/StarMap.git
[submodule "src/StarMap-xingyizhou"]
	path = src/StarMap-xingyizhou
	url = git@github.com:wecacuee/StarMap.git
	branch = master
[submodule "src/sort_ros"]
	path = src/sort_ros
	url = git@github.com:moshanATucsd/sort_ros.git
[submodule "src/starmap_ros_msgs"]
	path = src/starmap_ros_msgs
	url = git@github.com:wecacuee/starmap_ros_msgs.git
[submodule "src/orcvio_python_clean"]
	path = src/orcvio_python_clean
	url = git@github.com:moshanATucsd/orcvio_python_clean.git
[submodule "src/backend"]
	path = src/backend
	url = git@github.com:wecacuee/orcvio-backend.git
	branch = master
